.common_register{
    min-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
    align-content:space-around;
}


#table-register{
    width: 1300px;
}
#table-register td{
    line-height: 30px;
}

#table-register th:nth-last-child(1){
    width: 260px;
}

.message_box{
    width: 100%;
}

#leave_time{
     height: 30px;
     font-size: 15px;
    margin-right: 3px;
 }
.btn-leave{
    padding: 5px;
    margin: 0px 3px;
}
